@if index($hamburger-types, rotate) {
  /*
   * Vortex
   */
  .hamburger--rotate {
    .hamburger-box{
      transform: rotate(180deg);
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
    &.is-active {
      .hamburger-box {
        transform: rotate(90deg);
      }
    }
  }
}
