extends layout.pug

block vars
	- var $id = "index"

block head

block script

block modal

block content
	.section
		.wrapper
			.logo.from
				| Hello World !
				span
					| coreplay html5 template
			.links.from
				a(href="https://github.com/misterkidult/coreplay-html5-template")
					span
						| Github
					span
						| Github
				a(href="https://www.facebook.com/core.play.tw/")
					span
						| Facebook
					span
						| Facebook
	
