header
	a.logo--icon(href="#cover")
	.triangles
		.triangle
		.triangle
	.circles
		.circle
		.circle

	//- .pagination
	//- 	a.pagination--item(href="#cover")
	//- 	a.pagination--item(href="#about")
	//- 	a.pagination--item(href="#service")
	//- 	a.pagination--item(href="#team")
	//- 	a.pagination--item(href="#corp")
	//- 	a.pagination--item(href="#contact")