.embed-responsive.embed-responsive-16by9
	iframe.embed-responsive-item(id=$yid, src="https://www.youtube.com/embed/"+$vid+"?controls=1&rel=0&autoplay=0&enablejsapi=1", frameborder="0", allowfullscreen )
