body
	&
		+margin(0)
		+padding(0)
		// background:
		// 	color: transparent
		overflow: hidden
		-webkit-overflow-scrolling: touch
		color: #000
		background:
			color: $paper
	&.is-open-drawer
		overflow: hidden


.app
	+relative

.app__content
	+relative
	
.content--wrapper
	+relative
	width: 100%

footer
	position: relative

.container
	+relative