////////////////////// Vars

$line-green: #4cb234
$fb-blue: #2d5fac
$fb-blue-light: #bdc7d9

$middle: #454545
$light: #d9d9d9
$dark: #817a6d
$line: #d9d9d9
$orange: #ff8011
$main-color: #FB9C00
$main-yellow: #F5A623
$red: #c2182d
$yellow: #f6f58e

$font-family: "Open Sans", sans-serif
$font-size: 1em

$color-body: #e2e2e2
$color-text: #FFF
$color-menu: #E60012

$variable-menu-animation-time: 1s
$variable-burger-animation-time: 0.35s

$variable-menu-animation-function: cubic-bezier(0.25, 0.1, 0.25, 1)
$variable-burger-animation-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)